@import '../../styles/index.scss';

.bar-menu{
    .basic-button{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $cyan;
        img{
            width: 40px;
            height: auto;
            margin-right: 0.5rem;
        }
    }
}
