@import '../../styles/index.scss';

.service-container{
    // border: 1px solid red;
    // width: 100% !important;
    margin: 1rem 0;
}

.stamps{
    display: flex;
    img{
        max-width: 40px;
        height: auto;
        margin: 0.5rem;
    }
}